@media only screen and (max-width: 600px) {

  .pollution-intro-holder{
    width: 90%;
  }

  #pollution-iframe{
    width: 100%;
    margin: 0;
  }

  .story-part h2 {
    font-size: 17px;
  }

  #main-menu {
    margin-right: -260px;
    transition  : 0.3s;
    top         : 62px;
  }

  #menu,
  #cancel {
    display: block;
  }

  #main-menu {
    width           : 300px;
    height          : 100%;
    background-color: #00b1a3;
    position        : fixed;
    top             : 0px;
    right           : 0px;
    margin-right    : -300px;
    z-index         : 100000;
    transition      : 0.4s;
    cursor          : pointer;
  }

  .menu-item {
    border-bottom: 1px solid white;
  }

  #menu {
    width           : 36px;
    height          : 36px;
    border-radius   : 50%;
    position        : fixed;
    top             : 15px;
    right           : 13px;
    background-color: #00b1a3;
    z-index         : 9999;
  }

  #menu i {
    position: relative;
    left    : 11px;
    top     : 8px;
    cursor  : pointer;
    color   : white;
  }

  #cancel {
    position: relative;
    right   : -261px;
    top     : 4px;
  }

  .show {
    margin-right: 0px !important;
  }

  .heading-title {
    margin   : 0px;
    font-size: 2em;
  }

  #content {
    padding: 0px 10px;
  }

  p {
    /* font-size: 1em; */
  }

  iframe {
    width : 100vw;
    height: 300px;
  }

  article img {
    width: 80%;
  }

  .to-right {
    justify-items: right;
  }

  .img-reseach-ellement {
    width: 30%;
    left : 0px;
  }

  footer {
    padding-left : 10px;
    padding-right: 10px;
    grid-row-gap : 10px;
  }

  .sponsors-text {
    font-size: 11px;
    padding  : 0px;
  }

  /* HAMBURGER */
  @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

  #hamburger-container {
    text-align: right;
  }

  #hamburger-icon {
    width    : 100px;
    height   : 23px;
    position : fixed;
    display  : block;
    /* margin: 100px auto 50px auto; */
    top      : 10px;
    right    : -67px;
  }

  #hamburger-icon .line {
    display           : block;
    background        : #ecf0f1;
    width             : 50px;
    height            : 8px;
    position          : absolute;
    left              : 0;
    border-radius     : 4px;
    transition        : all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition   : all 0.4s;
  }

  #hamburger-icon .line.line-1 {
    top: 0;
  }

  #hamburger-icon .line.line-2 {
    top: 50%;
  }

  #hamburger-icon .line.line-3 {
    top: 100%;
  }

  #hamburger-icon:hover .line-1,
  #hamburger-icon:focus .line-1 {
    transform        : translateY(-4px);
    -webkit-transform: translateY(-4px);
    -moz-transform   : translateY(-4px);
  }

  #hamburger-icon:hover .line-3,
  #hamburger-icon:focus .line-3 {
    transform        : translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform   : translateY(4px);
  }

  #hamburger-icon.active .line-1 {
    transform        : translateY(25px) translateX(0) rotate(45deg);
    -webkit-transform: translateY(12px) translateX(0) rotate(45deg);
    -moz-transform   : translateY(25px) translateX(0) rotate(45deg);
  }

  #hamburger-icon.active .line-2 {
    opacity: 0;
  }

  #hamburger-icon.active .line-3 {
    transform        : translateY(-25px) translateX(0) rotate(-45deg);
    -webkit-transform: translateY(-12px) translateX(0) rotate(-45deg);
    -moz-transform   : translateY(-25px) translateX(0) rotate(-45deg);
  }

  h1 {
    text-transform: uppercase;
  }

  #main-menu a {
    text-decoration: none;
    margin         : 0.5em 1.5em;
    display        : inline-block;
  }

  #main-menu a:hover,
  #main-menu a:focus {
    color: #ecf0f1;
  }

  #hamburger-container {
    background-color: #17b0a2;
    position        : fixed;
    width           : 62px;
    height          : 62px;
    right           : 0px;
    top             : 0px;
    z-index         : 9999;
  }


  .modal {
    padding-top: 4%;
    width      : 44%;
    overflow   : auto;
    left       : 0;
  }

  .modal-content {
    padding: 7px;
  }

  .modal-content h2 {
    font-size: 13px;
    margin   : 3px 0px 3px 0px;
  }

  .modal-content p {
    margin: 0;
  }
}

@media only screen and (max-width: 980px) {
  .overlay p {
    font-size: 18px;
  }

  .story-part h2 {
    font-size: 18px;
  }

  #overlay1 p {
    margin-top: 0px;
  }

  #overlay1 div {
    width: 90%;
  }

}


@media only screen and (max-width: 425px) {

  #overlay0 {
    height          : 100%;
    width           : 100%;
    display         : block;
    position        : fixed;
    top             : 0;
    left            : 0;
    background-image: url("../../images/map-for-mobile.png");
    z-index         : 999;
  }

  #overlay1,
  #overlay2 {
    height          : 100%;
    background-color: rgba(0, 0, 0, .8);
    align-items     : start;
    padding-top     : 30px;

  }

  #overlay2>h1 {
    font-size : 27px;
    margin-top: 100px;
    margin    : 80px auto 45px auto;
  }

  #overlay2 p {
    width    : 80%;
    margin   : 32px auto 22px auto;
    /* margin: inherit auto; */
  }

  #story-container {
    width : 100%;
    top   : 210px;
    height: auto;
  }

  #sevanmap {
    height: 200px;
  }

  #mediafactorylogo {
    margin-top: 540px;
  }

  #nav-arrow-next {
    top    : 124px;
    right  : 10px;
    left   : initial;
    width  : 50px;
    display: none;
    z-index: -5;
  }

  #nav-arrow-prev {
    top    : 160px;
    right  : 10px;
    left   : initial;
    width  : 50px;
    display: none;
    z-index: -5;
  }

  #nav-arrow-before-start,
  #nav-arrow-start {
    display: none;
  }

  .overlay p {
    font-size: 14px;
  }

  .story-part {
    min-height: initial;
    padding   : 0px 8px;
  }

  .story-part h2 {
    font-size    : 16px;
    margin-bottom: 5px;
  }

  p {
    font-size: 16px;
  }


  #start-jorney {
    display: none;
  }

  .sponsors-text,
  .desclimer {
    width: 70%;
  }

  footer {
    margin-top: 306px;
  }

  #touch-tooltip {
    position: fixed;
    right   : 17px;
    bottom  : 16px;
    z-index : 999;
    display : block;
    width   : 10%;
  }



}

/*
const mapheight = 200 
const windwowidth = window.innerWidth
const svnmap =  document.getElementById("sevanmap")
if(windwowidth<=320){
  svnmap.style.height = mapheight+"px"
  const story = document.getElementById("story-container")
  const footerLogo = document.getElementById("mediafactorylogo")
  story.style.top = mapheight + "px"
  //footerLogo.style.marginTop = "540px"
}
*/