:root {
  --main-color: #00b1a3;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}
ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
iframe {
  width: 80vw;
  height: 500px;
}
/* GLOBAL Classes */
.grid {
  display: grid;
}
.flex {
  display: flex;
}
.to-right {
  justify-content: right;
}
.to-center {
  justify-items: center;
  justify-content: center;
}
.t-center {
  text-align: center;
}
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}

/* MENU */
#menu,
#cancel {
  display: none;
}
#main-menu {
  position: fixed;
  right: 0px;
  bottom: 20%;
  color: white;
}
#main-menu > ul {
  display: grid;
  grid-row-gap: 2px;
}
.menu-item {
  background-color: var(--main-color);
  padding: 10px 20px;
}
.menu-item a {
  color: white;
  text-transform: uppercase;
}

/* Heading */
.heading-title {
  color: white;
  font-size: 4em;
}
.date {
  color: white;
}

.big-photo {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
}
.child-item-to-center {
  display: grid;
  place-items: center;
}
/* Content */
#content {
  padding: 0px 50px;
}
.img-reseach-ellement {
  width: 200px;
  right: calc(600px - 200px / 2);
  top: 25%;
}
.vid-reseach-ellement {
  height: 60px;
  margin-bottom: 10px;
}
/* Footer */
footer {
  padding-bottom: 50px;
}
footer p {
  color: var(--main-color);
  text-transform: uppercase;
}
.sponsors-text {
  font-size: 14px;
}
.st0 {
  fill: #17b0a2;
}

.soc-icons svg {
  width: 40px;
  cursor: pointer;
}
.soc-icons svg:hover .st0 {
  fill: #117a72;
}
